<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <collapse navbar-collapse for My URLs & Create New URL> -->

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </ul>
      <%if (user !== undefined) { %>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <label style="margin-right: 1em;">Logged In As: TinyApp <%= user.email %></label>
          <input type="submit" name="logout" class="btn btn-outline-dark" value="Logout">
        </form>
        <% }  else { %>
      <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
        <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
        <input type="submit" name="login" class="btn btn-outline-dark" value="Login">
      </form>
      <div class="navbar-nav">
        <a class="navbar-nav nav-item nav-link " href="/login">Login</a>
        <a class="navbar-nav nav-item nav-link" href="/register">Register</a>
      </div>
      <% } %>
      </div>
    </nav>
</header>