<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<%- include('partials/_header') %> 

<body>
  <form method="POST" action="/login">
    <p><h1>Login Page</h1></p>
    <!-- <p><b>Email:</b> <input type="email" name="email"></p> -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email Address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter Email">
    </div>
    <!-- <p><b>Password:</b> <input type="password" name="password"></p> -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <!-- <p><button><b>Login</b></button></p> -->
    <button type="submit" class="btn btn-primary mb-3 ">Login</button>

  </form>

  

</body>
</html> 